@font-face {
    font-family: "NaverBD";
    src: url(../font/NaverBD-Regular.woff2) format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "NaverBD";
    src: url(../font/NaverBD-Bold.woff2) format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "NaverBD";
    src: url(../font/NaverBD-ExtraBold.woff2) format("woff2");
    font-weight: 800;
}
@font-face {
    font-family: "Testbed";
    src: url(../font/Testbed-Regular.woff2) format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Testbed";
    src: url(../font/Testbed-Bold.woff2) format("woff2");
    font-weight: 500;
}
@font-face {
    font-family: "Testbed";
    src: url(../font/Testbed-ExtraBold.woff2) format("woff2");
    font-weight: 800;
}
@font-face {
    font-family: "Testbed";
    src: url(../font/TestbedALT-Bold.woff2) format("woff2");
    font-weight: 600;
}
